{% extends "layout.html" %}

{% block title %}
    BlueprintAI
{% endblock %}

{% block body %}
<div class="header">
    <div id="text-header">
        <h2 class="darker"><b>BLUEPRINT AI</b></h2>
        <h5 class="lighter"><i>VISUALIZE YOUR NEXT REAL ESTATE PROJECT</i></h5>
    </div>
    <form action="/logout" method="post" id="logout-form">
        <button type="submit" class="btn btn-dark" name="logout-btn" id="logout-btn"><b>LogOut</b></button>
    </form>
</div>
<div class="container">
    <div class="right-side">
        <form method="post" action="/" id="main-form">
            <div class="form-question" >
                <div>
                    <label><h5>Building Type: </h5></label>
                </div>
                <div>
                    <select class="form-select custom-select common-select" id="buildingType" name="buildingType">
                        <option>Commercial Office Space</option>
                        <option>Industrial Facility</option>
                        <option>Mixed-Use</option>
                        <option>Residential Apartments</option>
                        <option>Retail Complex</option>
                    </select>
                </div>
            </div>
            <div class="form-question" >
                <div>
                    <label><h5>Number of Stories: </h5></label>
                </div>
                <div>
                    <select class="form-select custom-select common-select" id="heightStories" name="heightStories">
                        <option>Single Story</option>
                        <option>Low Rise</option>
                        <option>Mid Rise</option>
                        <option>High Rise</option>
                        <option>Skyscraper</option>
                        <option>Supertall Skyscraper</option>
                    </select>
                </div>
            </div>
            <div class="form-question">
                <div>
                    <label><h5>Color Finishes: </h5></label>
                </div>
                <div>
                    <select class="form-select custom-select common-select" id="colorFinishes" name="colorFinishes">
                        <option>Blues</option>
                        <option>Bronze</option>
                        <option>Charcoal</option>
                        <option>Dark Tones</option>
                        <option>Earth Tones</option>
                        <option>Gold</option>
                        <option>Grays</option>
                        <option>Light Grays and Beige</option>
                        <option>Maroon</option>
                        <option>Metallic Silvers</option>
                        <option>Multiple Bold Colors</option>
                        <option>Pastel Light Colors</option>
                        <option>Sandy Tones</option>
                        <option>Whites</option>
                    </select>
                </div>
            </div>
            <div class="form-question">
                <div>
                    <label><h5>Primary Material: </h5></label>
                </div>
                <div>
                    <select class="form-select custom-select common-select" id="primaryMaterials" name="primaryMaterials">
                        <option>Aluminum</option>
                        <option>Brick</option>
                        <option>Corten Steel</option>
                        <option>Concrete</option>
                        <option>Glass Facade</option>
                        <option>Polished Granite</option>
                        <option>Stone Cladding</option>
                        <option>Steel</option>
                        <option>Stucco</option>
                        <option>Terracotta</option>
                        <option>Textured Limestone</option>
                        <option>Wood</option>
                    </select>
                </div>
            </div>
            <div class="form-question">
                <div>
                    <label><h5>Location Context: </h5></label>
                </div>
                <div>
                    <select class="form-select custom-select common-select" id="locationContext" name="locationContext">
                        <option>Rural</option>
                        <option>Suburban</option>
                        <option>Urban</option>
                    </select>
                </div>
            </div>
            <div class="form-question">
                <div>
                    <label><h5>Landscape Type: </h5></label>
                </div>
                <div>
                    <select class="form-select custom-select common-select" id="landscapeType" name="landscapeType">
                        <option>Arctic Tundra</option>
                        <option>Coast</option>
                        <option>Desert</option>
                        <option>Dunes</option>
                        <option>Flatland</option>
                        <option>Lakeside</option>
                        <option>Mountain</option>
                        <option>Rocky Mountains</option>
                        <option>Tropics</option>
                        <option>Valley</option>                        
                    </select>
                </div>
            </div>
            <div class="form-question">
                <div>
                    <label><h5>Architectural Style: </h5></label>
                </div>
                <div>
                    <select class="form-select custom-select common-select" id="architecturalStyle" name="architecturalStyle">
                        <option>Art Deco</option>
                        <option>Bauhaus</option>
                        <option>Brutalist</option>
                        <option>Colonial</option>
                        <option>Gothic Revival</option>
                        <option>Industrial</option>
                        <option>Medieval</option>
                        <option>Mid Century Modern</option>
                        <option>Minimalist</option>
                        <option>Mediterranean</option>
                        <option>Modern</option>
                        <option>Postmodern</option>
                        <option>Standard</option>
                        <option>Tudor</option>
                        <option>Victorian</option>
                    </select>
                </div>
            </div>
            <div class="form-question">
                <div>
                    <label><h5>Quality Tier: </h5></label>
                </div>
                <div>
                    <select class="form-select custom-select common-select" id="qualityTier" name="qualityTier">
                        <option>Standard</option>
                        <option>Premium</option>
                        <option>Luxury</option>
                    </select>
                </div>
            </div>
            <div class="form-question">
                <div>
                    <label class="form-label"><h5>Additional Elements: </h5></label>
                </div>
                <div class="input-group">
                    <textarea rows="3" class="form-control" placeholder="Pedestrian Plaza, Water Fountain, Public Art..." id="additionalElements" name="additionalElements"></textarea>
                </div>
            </div>
            <div class="center-button">
                <p><button id="submitFormBtn" type="submit" class="btn btn-lg btn-outline-dark"><b>GO!</b></button></p>
            </div>
        </form>
    </div>
    <div class="left-side">
        <div>
            <button id="saveImage" class = "btn btn-outline-dark btn-lg"><b>SAVE IMAGE</b></button>
        </div>
        <div id="image-container">
            <img id="image" src="{{ url_for('static', filename='loading.gif') }}" class="img-fluid container-img mx-auto d-block" alt="A_i_blueprints">
            <div id="text-image">
                <b><h1>BLUEPRINT AI</h1><h3>PREVIOUS DESIGNS</h3></b>
            </div>
        </div>
    </div>
</div>
<style>

.darker {
    color:#3e3e3e
}

.lighter {
    color: rgb(102, 102, 102);
} 

.header {
    margin: 40px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#text-header {
    text-align: left;
}

#logout-btn {
    margin-left: auto;
}

.container {
    display: flex;
    margin: 20px auto;
    margin-bottom: 50px;
    align-items: flex-end;
    padding: 0;
}

.left-side {
    margin-top: 10px;
    width: 60%;
    padding-left: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.right-side {
    margin-top: 10px;
    width: 40%;
    padding-right: 10px;
    text-align: left;
    display: flex;
    flex-direction: column; 
}

#text-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}

#image-container {
    position: relative;
    display: inline-block;
}

#image {
    border-radius: 15px;
    animation-name: fadeInOut;
    animation-iteration-count: infinite;
    animation-duration: 3.6s;
}

@keyframes fadeInOut {
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

.form-question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.common-select {
    font-size: 18px;
    color: #3e3e3e;
    box-shadow: none;
    text-align-last: center;
    width: 210px;
    margin-bottom: 19.5px;
}

#additionalElements {
    height: max-content;
    border: 1px solid #3e3e3e;
    margin-bottom: 10px;
    width: 210px !important;
}

.center-button {
    margin-top: 25px;
    text-align: right;
}

#saveImage {
    display: none;
    margin-bottom: 20px;
}

</style>
<script>
const images = [
    "{{ url_for('static', filename='loading1.png') }}",
    "{{ url_for('static', filename='loading2.png') }}",
    "{{ url_for('static', filename='loading3.png') }}",
    "{{ url_for('static', filename='loading4.png') }}",
    "{{ url_for('static', filename='loading5.png') }}",
    "{{ url_for('static', filename='loading6.png') }}",
    "{{ url_for('static', filename='loading7.png') }}",
    "{{ url_for('static', filename='loading8.png') }}",
    "{{ url_for('static', filename='loading9.png') }}",
    "{{ url_for('static', filename='loading10.png') }}",
    "{{ url_for('static', filename='loading11.png') }}",
    "{{ url_for('static', filename='loading12.png') }}",
    "{{ url_for('static', filename='loading13.png') }}",
];
const imageContainer = document.getElementById('image-container');
const displayedImg = document.getElementById('image');
let currentIndex = 0;

function saveImage() {
    var url = '/download_image';
    var imageUrl = encodeURIComponent(displayedImg.src);
    
    fetch(`${url}?image_url=${imageUrl}`)
        .then(response => response.blob())
        .then(blob => {
            var link = document.createElement('a');
            link.href = URL.createObjectURL(blob);
            link.download = 'download.png';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        });
}

function showSaveImageBtn () {
    document.getElementById('text-image').style.display = 'none';
    document.getElementById('text-image').style.margin = '0 !important';
    document.getElementById('saveImage').style.display = 'block';
}

function hideSaveImageBtn () {
    document.getElementById('text-image').style.display = 'block';
    document.getElementById('text-image').style.margin = '20px !important';
    document.getElementById('saveImage').style.display = 'none';
}

document.getElementById('saveImage').addEventListener('click', saveImage);

function clearIntervals() {
    clearInterval(rotateImagesInterval);
    clearInterval(checkImageInterval);
}

function rotateImages() {
    displayedImg.src = images[currentIndex];
    displayedImg.style.animation = 'none'; // reset animation
    setTimeout(function() {
        displayedImg.style.animation = '';
    }, 10); // trigger reflow to restart animation
    currentIndex = (currentIndex + 1) % images.length;
}

function checkImage() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/check_image', true);
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 302) {
            clearIntervals();
            var response = JSON.parse(xhr.responseText);
            var image_url = response.image_url;
            console.log(image_url);
            var image = document.getElementById('image');
            image.style.animationName = 'none';
            image.src = image_url;
            showSaveImageBtn();
            document.getElementById('submitFormBtn').disabled = false;
        }
    }
    xhr.send();
}

function startIntervals() {
    rotateImagesInterval = setInterval(rotateImages, 2000);
    checkImageInterval = setInterval(checkImage, 1700);
}

startIntervals();

document.getElementById('main-form').addEventListener('submit', function(event) {
    console.log('Form submitted');
    event.preventDefault();
    var formData = new FormData(this);
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/submit_form', true);
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
            var response = JSON.parse(xhr.responseText);
            // Hiding save button and displaying text
            hideSaveImageBtn();
            // Changing the image text
            var b = document.querySelector('#text-image b');
            // Create a new h1 element
            var h1 = document.createElement('h1');
            h1.textContent = response.new_text;
            // Replace the content of the 'b' element with the new h1 element
            b.innerHTML = '';
            b.appendChild(h1);
            // Resetting the intervals
            clearIntervals();
            startIntervals();
            // Resetting the image fade in and out
            image.style.animationName = 'fadeInOut';
            document.getElementById('submitFormBtn').disabled = true;
        }
    }
    xhr.send(formData);
});

</script>
{% endblock %} 