{% extends "layout.html" %}

{% block title %}
    Inmobiliara Makro
{% endblock %}

{% block body %}
<div class="header">
    <div style="margin-right: 10px;">
        <img src="../static/makro-logo.png" alt="Makro Logo" width="90" height="90">
    </div>
    <div id="text-header">
        <h1 class="darker"><b>Inmobiliaria Makro</b></h1>
        <h6 class="lighter"><i>TE INVITA A INVENTAR UN EDIFICIO CON INTELIGENCIA ARTIFICIAL</i></h6>
        </div>
    <form action="/web" method="post" id="visit-web">
        <button type="submit" class="btn btn-dark" name="visit-web" id="visit-web"><b>CONOCE NUESTRA WEB</b></button>
    </form>
</div>
<div class="container">
    <div class="right-side">
        <form method="post" action="/" id="main-form">
            <div class="form-question">
                <div>
                    <label><h5>Tipo de Edificio: </h5></label>
                </div>
                <div>
                    <select class="form-select custom-select common-select" id="buildingType" name="buildingType">
                        <option>Apartamentos Residenciales</option>
                        <option>Complejo Comercial</option>
                        <option>Espacio de Oficinas</option>
                        <option>Instalación Industrial</option>
                        <option>Uso Mixto</option>
                    </select>
                </div>
            </div>            
            <div class="form-question">
                <div>
                    <label><h5>Número de Pisos: </h5></label>
                </div>
                <div>
                    <select class="form-select custom-select common-select" id="heightStories" name="heightStories">
                        <option>Baja Altura</option>
                        <option>Mediana Altura</option>
                        <option>Alta Altura</option>
                        <option>Rascacielos</option>
                        <option>Más alto que el Costanera Center!</option>
                    </select>
                </div>
            </div>            
            <div class="form-question">
                <div>
                    <label><h5>Acabados de Color: </h5></label>
                </div>
                <div>
                    <select class="form-select custom-select common-select" id="colorFinishes" name="colorFinishes">
                        <option>Azules</option>
                        <option>Beige y Grises Claro</option>
                        <option>Bronce</option>
                        <option>Blanco</option>
                        <option>Carbón</option>
                        <option>Colores Audaces</option>
                        <option>Gris</option>
                        <option>Marrón</option>
                        <option>Marrón Arena</option>
                        <option>Oro</option>
                        <option>Plateados Metálicos</option>
                        <option>Rojo Vino</option>
                        <option>Tonos Oscuros</option>
                        <option>Tonos Terrosos</option>
                    </select>
                </div>
            </div>
            <div class="form-question">
                <div>
                    <label><h5>Material Principal: </h5></label>
                </div>
                <div>
                    <select class="form-select custom-select common-select" id="primaryMaterials" name="primaryMaterials">
                        <option>Acero</option>
                        <option>Acero Corten</option>
                        <option>Aluminio</option>
                        <option>Concreto</option>
                        <option>Fachada de Vidrio</option>
                        <option>Granito Pulido</option>
                        <option>Ladrillo</option>
                        <option>Madera</option>
                        <option>Piedra Caliza Texturizada</option>
                        <option>Revestimiento de Piedra</option>
                        <option>Terracota</option>
                        <option>Estuco</option>
                    </select>
                </div>
            </div>            
            <div class="form-question">
                <div>
                    <label><h5>Contexto de Ubicación: </h5></label>
                </div>
                <div>
                    <select class="form-select custom-select common-select" id="locationContext" name="locationContext">
                        <option>Suburbano</option>
                        <option>Urbano</option>
                    </select>
                </div>
            </div>            
            <div class="form-question">
                <div>
                    <label><h5>Tipo de Entorno Natural: </h5></label>
                </div>
                <div>
                    <select class="form-select custom-select common-select" id="landscapeType" name="landscapeType">
                        <option>Costa</option>
                        <option>Desierto</option>
                        <option>Dunas</option>
                        <option>Montaña</option>
                        <option>Montañas Rocosas</option>
                        <option>Orilla del Lago</option>
                        <option>Planicie</option>
                        <option>Tropicales</option>
                        <option>Tundra Ártica</option>
                        <option>Valle</option>
                    </select>
                </div>
            </div>
            <div class="form-question">
                <div>
                    <label><h5>Estilo Arquitectónico: </h5></label>
                </div>
                <div>
                    <select class="form-select custom-select common-select" id="architecturalStyle" name="architecturalStyle">
                        <option>Art Deco</option>
                        <option>Bauhaus</option>
                        <option>Brutalista</option>
                        <option>Colonial</option>
                        <option>Gótico Revival</option>
                        <option>Industrial</option>
                        <option>Medieval</option>
                        <option>Moderno del Siglo Medio</option>
                        <option>Minimalista</option>
                        <option>Mediterráneo</option>
                        <option>Moderno</option>
                        <option>Posmoderno</option>
                        <option>Estándar</option>
                        <option>Tudor</option>
                        <option>Victoriano</option>
                    </select>
                </div>
            </div>
            <div class="form-question">
                <div>
                    <label><h5>Adiciones Ecológicas: </h5></label>
                </div>
                <div>
                    <select class="form-select custom-select common-select" id="adicionesEcologicas" name="adicionesEcologicas">
                        <option>Paneles Solares</option>
                        <option>Techo Verde</option>
                        <option>Fachada Verde</option>
                        <option>Contenedores de reciclaje</option>
                    </select>
                </div>
            </div>            
            <div class="form-question">
                <div>
                    <label class="form-label"><h5>Elementos Extra: </h5></label>
                </div>
                <div class="input-group">
                    <textarea rows="3" class="form-control" placeholder="Ej: Cancha de fútbol, Quinchos para asado, Bar de pisco sour..." id="additionalElements" name="additionalElements"></textarea>
                </div>
            </div>
            <div class="center-button">
                <p><button id="submitFormBtn" type="submit" class="btn btn-lg btn-outline-dark"><b>ESTOY READY!</b></button></p>
            </div>
        </form>
    </div>
    <div class="left-side">
        <div style="display: flex; justify-content: space-between; align-items: flex-end;">
            <button id="saveImage" class = "btn btn-outline-dark btn-lg"><b>GUARDAR</b></button>
            <h4 id="compartenos">¡Comparte tu resultado y etiquétanos! @inmobiliaria_makro</h4>
        </div>
        <div id="image-container">
            <div>
                <img id="image" src="{{ url_for('static', filename='loading.gif') }}" class="img-fluid container-img mx-auto d-block" alt="A_i_blueprints">
            </div>
            <div id="text-image">
                <b><h1>MAKROVISTA</h1><h3>DISEÑOS ANTERIORES</h3></b>
            </div>
        </div>
    </div>
</div>
<style>

.darker {
    color:#3e3e3e
}

.lighter {
    color: rgb(102, 102, 102);
} 

.header {
    margin: 40px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#text-header {
    text-align: left;
}

#visit-web {
    margin-left: auto;
}

.container {
    display: flex;
    margin: 20px auto;
    margin-bottom: 50px;
    align-items: flex-end;
    padding: 0;
}

.left-side {
    margin-top: 10px;
    width: 60%;
    padding-left: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.right-side {
    margin-top: 10px;
    width: 40%;
    padding-right: 10px;
    text-align: left;
    display: flex;
    flex-direction: column; 
}

#text-image {
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}

#image-container {
    position: relative;
    display: inline-block;
}

#image {
    border-radius: 15px;
    animation-name: fadeInOut;
    animation-iteration-count: infinite;
    animation-duration: 3.6s;
}

@keyframes fadeInOut {
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

.form-question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.common-select {
    font-size: 18px;
    color: #3e3e3e;
    box-shadow: none;
    text-align-last: center;
    width: 210px;
    margin-bottom: 19.5px;
}

#additionalElements {
    height: max-content;
    border: 1px solid #3e3e3e;
    margin-bottom: 10px;
    width: 210px !important;
}

.center-button {
    margin-top: 25px;
    text-align: right;
}

#compartenos {
    display: flex;
    font-family: 'Caveat', sans-serif;
    text-align: left;
    /*text-align: right !important;*/
}

#saveImage {
    display: none;
    margin-bottom: 10px;
}

</style>
<script>
const images = [
    "{{ url_for('static', filename='loading1.png') }}",
    "{{ url_for('static', filename='loading2.png') }}",
    "{{ url_for('static', filename='loading3.png') }}",
    "{{ url_for('static', filename='loading4.png') }}",
    "{{ url_for('static', filename='loading5.png') }}",
    "{{ url_for('static', filename='loading6.png') }}",
    "{{ url_for('static', filename='loading7.png') }}",
    "{{ url_for('static', filename='loading8.png') }}",
    "{{ url_for('static', filename='loading9.png') }}",
    "{{ url_for('static', filename='loading10.png') }}",
    "{{ url_for('static', filename='loading11.png') }}",
    "{{ url_for('static', filename='loading12.png') }}",
    "{{ url_for('static', filename='loading13.png') }}",
];
const imageContainer = document.getElementById('image-container');
const displayedImg = document.getElementById('image');
let currentIndex = 0;

function saveImage() {
    var url = '/download_image';
    var imageUrl = encodeURIComponent(displayedImg.src);
    
    fetch(`${url}?image_url=${imageUrl}`)
        .then(response => response.blob())
        .then(blob => {
            var link = document.createElement('a');
            link.href = URL.createObjectURL(blob);
            link.download = 'download.png';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        });
}

function showSaveImageBtn () {
    document.getElementById('text-image').style.display = 'none';
    document.getElementById('text-image').style.margin = '0 !important';
    document.getElementById('saveImage').style.display = 'block';
    document.getElementById('saveImage').disabled = false;
}

function hideSaveImageBtn () {
    document.getElementById('text-image').style.display = 'block';
    document.getElementById('text-image').style.margin = '20px !important';
    document.getElementById('saveImage').style.display = 'none';
}

document.getElementById('saveImage').addEventListener('click', saveImage);

function clearIntervals() {
    clearInterval(rotateImagesInterval);
    clearInterval(checkImageInterval);
}

function rotateImages() {
    displayedImg.src = images[currentIndex];
    displayedImg.style.animation = 'none'; // reset animation
    setTimeout(function() {
        displayedImg.style.animation = '';
    }, 10); // trigger reflow to restart animation
    currentIndex = (currentIndex + 1) % images.length;
}

function checkImage() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/check_image', true);
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 302) {
            clearIntervals();
            var response = JSON.parse(xhr.responseText);
            var image_url = response.image_url;
            console.log(image_url);
            var image = document.getElementById('image');
            image.style.animationName = 'none';
            image.src = image_url;
            showSaveImageBtn();
            document.getElementById('submitFormBtn').disabled = false;
            document.getElementById('compartenos').style.setProperty('text-align', 'right', 'important');
        }
    }
    xhr.send();
}

function startIntervals() {
    rotateImagesInterval = setInterval(rotateImages, 2000);
    checkImageInterval = setInterval(checkImage, 1700);
}

startIntervals();

document.getElementById('main-form').addEventListener('submit', function(event) {
    console.log('Form submitted');
    event.preventDefault();
    var formData = new FormData(this);
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/submit_form', true);
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
            var response = JSON.parse(xhr.responseText);
            // Hiding save button and displaying text
            hideSaveImageBtn();
            document.getElementById('compartenos').style.textAlign = 'left !important';
            // Changing the image text
            var b = document.querySelector('#text-image b');
            // Create a new h1 element
            var h1 = document.createElement('h1');
            h1.textContent = response.new_text;
            // Replace the content of the 'b' element with the new h1 element
            b.innerHTML = '';
            b.appendChild(h1);
            // Resetting the intervals
            clearIntervals();
            startIntervals();
            // Resetting the image fade in and out
            image.style.animationName = 'fadeInOut';
            document.getElementById('submitFormBtn').disabled = true;
            document.getElementById('saveImage').disabled = true;
        }
    }
    xhr.send(formData);
});

</script>
{% endblock %} 